body {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400; }
  body h1 {
    font-weight: 700;
    font-size: 70px;
    letter-spacing: -4px;
    padding-top: 8rem; }
  body h2 {
    font-weight: 700;
    font-size: 44px;
    padding-right: 1rem;
    padding-left: 1rem; }
  @media (max-width: 768px) {
    body h1 {
      padding-top: 1rem;
      font-size: 40px; }
    body h2 {
      font-size: 30px !important; } }
  body h3 {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px; }
  body h4 {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 7rem;
    padding-right: 10rem; }
  body h5 {
    font-weight: 200;
    color: #747474;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 1rem;
    padding-bottom: 3rem; }
  @media (max-width: 768px) {
    body h4 {
      padding-right: 0;
      margin-bottom: 1rem;
      font-size: 16px; }
    body h5 {
      font-size: 14px; } }
  body h6 {
    font-weight: 200;
    color: #747474;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;

    }
  body button {
    font-size: 10px;
    font-weight: 700; }

.header-hero {
  background: #23b4f5 url("../images/bar.png") repeat-x bottom;
  color: white;
  padding-top: 3rem; }

.logo {
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding-left: 0.8rem;}

ul {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0; }
  ul li {
    display: inline;
    padding-left: 20px; }

.nav-links {
  color: white;
  padding-bottom: 5px; }
  .nav-links .nav-links:hover {
    text-decoration: none;
    border-bottom-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid; }

.hero {
  padding-bottom: 1rem;
  padding-top: 30px; }
@media (max-width: 768px) {
  .hero {
  padding-bottom: 0; } }
  .hero .hero-title {
    padding-left: 0% !important; }
  .hero .hero-words {
    padding-left: 10%; }
  .hero .button-download {
    margin-left: 1rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 20px;
    letter-spacing: 1px; }
  .hero .button-download:hover {
    background-color: #268df5;
    color: white;
    border-color: #268df5; }
    @media (max-width: 768px) {
    .button-learn-more {
      margin-top: 1rem; } }
  .hero .button-learn-more {
    margin-left: 1rem;
    background-color: transparent;
    margin-left: 30px;
    color: white;
    letter-spacing: 1px;
    border: none; }
  .hero .button-learn-more:hover {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #268df5;
    color: #268df5;
    border-bottom-width: 3px; }
  .hero .hero-bottom {
    color: #222222;
    font-size: 13px;
    margin-top: 5.5rem; }
    @media (max-width: 540px) {
    .hero-bottom {
      margin-top: 2rem; } }
  .hero .UI {
    margin-top: 0.5rem;}
  .hero .button-new {
    margin-top: 0.5rem;
    background-color: #268df5;
    font-size: 9px;
    color: white;
    border: none;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 5px 8px rgba(38, 141, 245, 0.5);
    letter-spacing: 1px; }
  .hero .button-new:hover {
    background-color: white;
    color: #268df5; }

.new-big-thing {
  background-color: whitesmoke;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 13px; }
  .new-big-thing .content-text {
    padding-left: 9%;
    padding-right: 9%; }
  .new-big-thing .content-text p {
    margin-bottom: 5rem; }

.price {
  color: white;
  background-color: #222222;
  padding-top: 5rem;
  padding-bottom: 7rem; }
  .price .price-header {
    font-size: 12px;
    font-weight: 400; }
  .price .rate {
    font-size: 48px; }
  .price .list {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    padding-bottom: 0rem; }
  .price .price-container {
    padding-left: 10%;
    padding-right: 10%; }
  .price .price-box {
    background-color: white;
    border-radius: 5px;
    color: #222222;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .price .price-box-alt {
    background-color: #268df5;
    color: white; }
    @media (max-width: 767px) {
    .pricing-box {
      margin-bottom: 3rem; } }
  .price .price-button {
    margin-left: 1rem;
    color: #222222;
    border: 2px solid #268df5;
    background-color: transparent;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    letter-spacing: 1px; }
  .price .price-button-alt {
    margin-left: 1rem;
    color: #222222;
    border: 2px solid white;
    background-color: white;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    letter-spacing: 1px; }
  .price .price-button:hover {
    color: white;
    background-color: #268df5;
    border-color: white; }
  .price .price-button-alt:hover {
    color: white;
    background-color: transparent;
    border-color: white; }

.subscribe {
  background-image: url("../images/cliff.png");
  background-size: cover;
  color: white;
  padding-top: 5rem;
  padding-bottom: 7rem; }
  .subscribe .text {
    color: white; }
  .subscribe .user-email {
    border: none;
    background-color: rgba(146, 146, 146, 0.33);
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 11px;
    width: 350px; }
  .subscribe .email-button {
    background-color: white;
    border: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    box-shadow: 10px 5px 8px #222222;
    letter-spacing: 1px;
    margin-left: -20px; }
  .subscribe .email-button:hover {
    background-color: #268df5;
    color: white;}
  .subscribe .form-inline {
    padding-left: 30px;
    padding-right: 30px; }
  .subscribe ::placeholder {
    color: white; }
  .subscribe input[type=email] {
    color: white; }

footer {
  padding-top: 3rem;
  background-image: url("../images/background.png"); }
  footer .footer-nav {
    margin-bottom: 5rem; }
  footer .footer-nav div ul {
    list-style: none; }
  footer .footer-nav div ul li {
    font-weight: 700;
    font-size: 11px;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem; }
  footer .footer-nav-links {
    color: #222222; }
  footer .footer-nav-links:hover {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #268df5;
    color: #268df5;
    border-bottom-width: 3px; }
  footer .footer-description {
    color: #747474;
    font-size: 11px;
    padding-top: 75px; }
  footer .social-media {
    padding-left: 1rem;
    width: 15px;
    height: 15px; }
